<launch>

    <arg name="project" default="lio_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />

    <node pkg="$(arg project)" type="$(arg project)_test"      name="$(arg project)_test"       output="screen"     respawn="true"/>




    <!--  Transforms  -->
    <!-- <node pkg="tf" type="static_transform_publisher"
        name="gps_transform"
        args="0 0 0 0 0 0 base_link gps 2" />

    <node pkg="tf" type="static_transform_publisher"
            name="imu_transform"
            args="0 0 0 0 0 0 base_link gyro_link 200" /> -->

</launch>
