<launch>

    <arg name="project" default="lio_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />

    <node pkg="$(arg project)" type="$(arg project)_tcp"      name="$(arg project)_tcp"       output="screen"     respawn="true"/>

    <!--- LOAM -->
    <!-- <include file="$(find lio_sam)/launch/include/module_liauto_necessary.launch" /> -->

    <!--- Robot State TF -->
    <!-- <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" /> -->

    <!--- Run Navsat -->
    <!-- <include file="$(find lio_sam)/launch/include/module_navsat.launch" /> -->

    <!--- Run Rviz-->
    <!-- <include file="$(find lio_sam)/launch/include/module_rviz_liauto.launch" /> -->


    <!--  Transforms  -->
    <!-- <node pkg="tf" type="static_transform_publisher"
        name="gps_transform"
        args="0 0 0 0 0 0 base_link gps 2" />

    <node pkg="tf" type="static_transform_publisher"
            name="imu_transform"
            args="0 0 0 0 0 0 base_link gyro_link 200" /> -->

</launch>
